*{          /*Todo maneja un espaciado por defecto, con este reset lo puedo controlar yo.*/
    margin: 0;
    padding:0;  
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root{  /*Paleta de colores con los que trabajaré.*/
    --primary-color: #6d5dfc;
    --grey-900: #0b1020;
    --grey-800: #0f1629;
    --grey-600: #1a2440;
    --grey-700: #9ea3b0;
    --grey-500: #dfdfe1;
    --grey-300: #fefff6;
    --grey-200: #f1f2f6;

    --violet-400: #5a4fdc;
    --violet-300: #8b7cff;
    --violet-100: #e8e4ff;
    
    --primary-font: "Roboto", sans-serif;
}

body{
    background: linear-gradient(var(--violet-400), var(--grey-600));
    padding: 40px;
}

.app{
    background-color: white;
    display: grid;
    grid-template-columns: 320px 1fr;
    height: 90vh;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
}

aside{
    background-color: var(--grey-900);
    color: rgb(235, 232, 232);
}

aside header{
    background-color: var(--grey-800);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img{
    width: 50px;
    border-radius: 50%;
}

.profile h2{
    font-size: 18px;
}

.actions{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.actions button{
    padding: 7px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--grey-800);
    color: var(--grey-300);
    transition: transform .2s;
}

.actions button svg{
    width: 20px;
}

.actions button:hover{
    background-color: var(--grey-600);
    transform: translateY(-4px);
}

.search{
    background-color: var(--grey-800);
    padding: 10px;
}

.search form input{
    background-color: var(--grey-600);
    width: 100%;
    display: block;
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    color: white;
}

.search input:focus{
    outline: 1px solid var(--grey-300);
}

.chats ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-chat{
    background-color: var(--grey-900);
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.user-chat img{
    border-radius: 50%;
    width: 50px;
}

.user-chat:hover{
    background-color: var(--grey-800);
    cursor: pointer;
    border-left: 3px solid var(--violet-300);
}

/* Messages panel */
.chat-header{
    background-color: var(--grey-300);
    border-bottom: 1px solid var(--grey-600);
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.chat-header img{
    width: 60px;
    border-radius: 50%;
}

.chat-header p{
    color: var(--grey-700);
}

/* Estilos mensajes */

.chat-panel{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.messages{
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;  /* Separar entre elementos flexibles.*/
    overflow-y: auto;
}

.message{
    background-color: var(--grey-300);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.238);
    padding: 10px;
    width: 60%;
}

.message .time{
    color: var(--grey-700);
    font-size: 14px;
    margin-top: 10px;
    text-align: end;
}

.me{
    align-self: end; /* Propiedad para elementos hijos de un contenedor flexible. */
    background-color: var(--violet-100);
}

/* Footer styles */
footer .container-pc-message{
    display: flex;
    background-color: var(--grey-500);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
}

footer .container-pc-message button{
    width: 25px;
    height: 25px;
    padding: 3px;
}

footer .container-pc-message svg{
    width: 100%;
    height: 100%;
}

footer .container-pc-message .attach{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--grey-700);
    transition: color .2s;
}

footer .container-pc-message .attach:hover{
    color: var(--grey-800);
}

footer .container-pc-message form{
    display: flex;
    align-items: center;
    flex: 1;
}

footer .container-pc-message input{
    padding: 8px;
    resize: none;
    border-radius: 15px;
    width: 100%;
    border: none;
}

footer .container-pc-message input:focus{
    outline: 1px solid var(--grey-700);
    border: none;
}

footer .container-pc-message .send{
    background-color: var(--violet-400);
    border: none;
    color: var(--grey-300);
    width: 45px;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    transition: all .1s;
}

footer .container-pc-message .send:hover{
    background-color: var(--violet-300);
    transform: scale(1.1);
}

.container-mobile-options{
    display: none;
}

/* Responsive design */

@media (max-width: 880px){
    .app{
        grid-template-columns: 1fr;
    }

    aside{
        display: none;
    }
    .container-mobile-options{
        background-color: var(--grey-500);
        border-top: 1px solid var(--grey-600);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
    }
    .container-mobile-options .mobile-options{
        display: flex;
        gap: 45px;
    }
    .container-mobile-options button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        transition: all .2s;
        padding: 4px;
    }
    .container-mobile-options button svg{
        width: 28px;
        height: 28px;
        padding: 4px;
        color: var(--grey-700);
    }
    .container-mobile-options button:focus{
        color: var(--grey-600);
        transform: translateY(-2px);
    }
    .container-mobile-options svg{
        width: 100%;
        height: 100%;
    }
    .container-mobile-options p{
        color: var(--grey-700);
        font-size: 10px;
    }
    .container-mobile-options .mobile-options button:focus{
        background-color: var(--grey-200);
        border-radius: 20%;
        color: var(--grey-600);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.112);
    }
}